@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
    }

    #root {
        height: 100%;
        width: 100%;
    }

    .btn:hover {
        filter: brightness(0.9);
        cursor: grab;
        transition: all linear 0.2s;
    }

    .btn:active {
        filter: brightness(0.85);
        cursor: grabbing;
        transition: all linear 0.2s;
    }
    
    button:hover {
        filter: brightness(0.9);
        cursor: grab;
        transition: all linear 0.2s;
    }

    button:active {
        filter: brightness(0.85);
        cursor: grabbing;
        transition: all linear 0.2s;
    }

    .mainShadow {
        box-shadow: 0 0 5px #d3d3d3;
    }

    .csScroll::-webkit-scrollbar {
        width: 5px;
    }

    .csScroll::-webkit-scrollbar-thumb {
        background-color: #3e3f46;
    }
}

@theme {
    --color-light-background: #FAFAFA;
    --color-mainRed: #f25255;
    --color-mainDark: #3e3f46;
    --color-mainRedRGB: rgba(242, 82, 85, 0.1);
    --color-lime: #00FF00;
    --color-gray: #808080;
    --color-lightGray: #d3d3d3;
    --color-lighterGray: #f0f0f0;

    --text-csTiny: 12px;
    --text-csSmall: 14px;
    --text-csNormal: 16px;
    --text-csBig: 20px;
    --text-csLarge: 26px;

    --spacing-twoSidePadding: 80px;
    --spacing-mainTwoSidePadding: 20px;
    --spacing-topPadding: 40px;
    --spacing-bottomPadding: 40px;

    --radius-main: 10px;
    --radius-small: 5px;
}